<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088642855812-cj6c6b90gg559qi18eg3aqk216k6lgit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088642855812-cj6c6b90gg559qi18eg3aqk216k6lgit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088642855812-0qkjomnqu1353sjg5s7itobi7oeihaeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-sz40e1lpmygb1uQjqJA025JGnJJxGKI</string>
	<key>GCM_SENDER_ID</key>
	<string>1088642855812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.luaV2Cydeva</string>
	<key>PROJECT_ID</key>
	<string>lua-cydeva</string>
	<key>STORAGE_BUCKET</key>
	<string>lua-cydeva.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088642855812:ios:bab0b92e95570013ca63d1</string>
</dict>
</plist>